{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hello Employee {{ user.username }}!
{% for customer in day_filter %}
{{customer.name}}
{% endfor %}
{% for customer in weekly_filter %}
{{customer.name}}
{% endfor %}
{% else %}
<p>You are at the employee index, but you are not logged in.</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'accounts:register' %}">Sign Up</a>
{% endif %}
{% endblock %}